<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
   <wsDualHttpBinding>
    <binding name="WSDualHttpBinding_IMake15Service" receiveTimeout="00:02:10"
     sendTimeout="00:00:20">
     <security mode="None" />
    </binding>
   </wsDualHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:57932/Make15Service.svc"
    binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMake15Service"
    contract="ServiceReference1.IMake15Service" 
	name="WSDualHttpBinding_IMake15Service" />
  </client>
	</system.serviceModel>
</configuration>